* {
    font-family: 'Roboto',
        sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    background-size: cover !important;
}

.container_dock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dock {
    background: rgba(32, 32, 32);
    /* border: 1px; */
    border: solid 1px rgb(172, 172, 172);
    /* border-bottom: 0px; */

    /* width: 80%; */
    height: 48px;
    border-radius: 14px;
    position: absolute;
    bottom: 5px;
    /* margin-left: calc((100% - 80%)/2); */

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    gap: 8px;
}

.top_dock {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #1e1e1e;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.logo__image {
    width: 15px;
}

.top_dock__notifications_time {
    margin-right: 20px;
    color: rgb(233, 232, 247);
    font-size: 14px;
}

/*  */
.header_app {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    /* background-color: #383838; */
    border-top-left-radius: 7.7px;
    border-top-right-radius: 7.7px;
    color: '#fff';
}

.close {
    width: 13.5px;
    height: 13.5px;
    border-radius: 15px;
}

.rollup {
    width: 13.5px;
    height: 13.5px;
    border-radius: 15px;
    background-color: rgb(252, 187, 64);
    margin-left: 7px;
}

.expand {
    width: 13.5px;
    height: 13.5px;
    border-radius: 15px;
    background-color: rgb(52, 198, 72);
    margin-left: 7px;
}

.app_name_reader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 40px;
}

.main_content {
    width: 100%;
    height: 100%;
}

.icon_in_dock {
    cursor: pointer;
    border-radius: 9px;
    transition: transform 0.3s;
}
.icon_in_dock:hover {
    /* -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.3); */
    transform: scale(1.1);
}

#dock_time,
.logo,
.dock {
    user-select: none;
}
.ReaderApp {
    position: absolute;
    width: 500px;
    height: 400px;
    overflow: auto;
    background: red;
    color: blue;

}





